body {
    background: #c4d9eb;
    font-family: 'Roboto', sans-serif;
}

h1 {
color: white;
text-align: center;
padding: 2%;
}

h4 {
    font-size: 95%;
    text-align: center;
    color:  #2b71a7;
    font-weight: bold;
}

p {
    font-size: 90%;
    text-align: center;
}

a {
color: #2b71a7;
text-decoration: none;
}

#container {
    background-color: white;
    margin-left: 31%;
    padding: 5%;
    margin-top: 0%;
    width: 25%;
}

.btnIndex {
        width: 45%;
        padding: 3%;
        margin: 1% auto;
        border-radius: 16px;
        border: none;
}

.aIndex {
    color: #fff;
}

.containerLogin {
    background-color: white;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 5%;
}

button {
background-color:  #2b71a7;
color: white;
}

input, button {
    display: block;
}

input {
    width: 100%;
    padding: 4%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    width: 90%;
    padding: 8%;
    margin: 1% auto;
    border-radius: 16px;
    border: none;
}

img {
    width: 25%;
    margin-left: 36%;
    margin-bottom: 0%;
    margin-bottom: 0%;
}

@media(max-width:475px) {

img {
 width: 50%;
 margin-left: 25%;
}

#container {
   background-color: white;
   width: 50%;
   margin-left: 20%;
   margin-right: 20%;
   padding: 5%;
   margin-top: 0%;

}