:root {
  --principalBlue: #2e71a7;
  --mustardYellow: #eda247;
  --babyBlue: #c4d9ec;
  --black: #272727;
}

body {
  background: white;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
button {
  border: 0;
}
input {
  background: inherit;
  box-shadow: none;
}

h1 {
  color: var(--mustardYellow);
  font-size: 22px;
}
::placeholder {
  color: var(--principalBlue);
}
h4 {
  font-size: 95%;
  text-align: center;
  color: var(--principalBlue);
  font-weight: bold;
}

p {
  font-size: 14px;
}

a {
  color: var(--principalBlue);
  text-decoration: none;
}

.btnIndex {
  width: 45%;
  padding: 3%;
  margin: 1% auto;
  border-radius: 16px;
  border: none;
}

.aIndex {
  color: #fff;
}

.containerLogin {
  background-color: white;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  padding: 5%;
}
.principalHeader {
  margin-bottom: 20px;
}
.secondarytext {
  margin-bottom: 20px;
  font-size: 16px;
}
.actionButtonRegular {
  background-color: var(--principalBlue);
  color: white;
  border-radius: 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 10px 0px;
  max-width: 268px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
}

.signInGoogleFacebookButton {
  background-color: #f4f4f4;
  color: var(--black);
  border-radius: 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 10px 0;
  max-width: 268px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signInGoogleFacebookButton img {
  margin-right: 8px;
}

.btn {
  width: 90%;
  padding: 8%;
  margin: 1% auto;
  border-radius: 16px;
  border: none;
}

.imgFirstHeader {
  width: 100%;
  margin-bottom: 20px;
}

.mainCreate {
  padding: 0 35px;
  display: flex;
  flex-direction: column;
}
.createAccountFormulary {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.inputFormulary {
  border: none;
  border-bottom: 1px solid var(--babyBlue);
  color: var(--principalBlue);
  padding: 20px 16px 16px 30px;
  position: relative;
}

.iconInput {
  display: flex;
  align-items: center;
  position: relative;
}

.iconInput img {
  position: absolute;
}

.iconInput input {
  flex: 1;
}
.footerCreate {
  display: flex;
  justify-content: center;
}
